/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 9:55:38 AM
    Author     : pepijndegoede
*/
body {
    margin: 0;
    padding: 0;
}

.siteWrapper {
    margin: 0 auto;
    width: 1170px;
}